.box{
    background-color: #333;
    width: 200px;
    height: 200px;
    position: relative;
    animation-name: boxname;
    animation-duration: 4s;
}

@keyframes boxname{
    /* condition
    from{
        background-color: #333;}

    to{
        background-color: red;
    } */
    0%{background-color: #333; top:0; left: 0;}
    25%{background-color: green; top: 0; left: 300px;}
    50%{background-color: blue; top:300px; left: 300px;}
    75%{background-color: yellow; top: 300px; left: 0px;}
    100%{background-color: red; top: 0px; left: 0;}
}