:root{
    --main-color:#05a081;
    --text-color:#fff;
    --dark-color:#000;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

header{
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    text-align: center;
    background: rgba(0,0,0,0.2);
}

.logo{
    font-size: 2rem;
    font-weight: 700;

}

/* units-pix, %, vh (view height), vw (viewwidth), em (parent), rem (root) */

.banner{
    background: #3f51b5;
    height: 100vh;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

nav ul li a{
    display: block;
    text-align: center;
    text-decoration: none !important;
    padding: 1.2rem 1rem;
}

/* dropdown */

nav ul li ul{
    position: absolute;
    width: 100%;
    top: 100%;
    display: none;
}

nav ul li ul li a{
    color: var(--dark-color) !important;
}

nav ul li:hover{
    display: block;
}

.label, #toggle{
    display: none;
}

@media(max-width: 700px){
    .fa-bars{
        display: block !important;
        font-size: 2rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .label{
        display: block !important;
    }
        
}

/* css3 hover effects */

nav ul li a:hover{
    color: var(--text-color)
}

nav.menu ul li a{
    position: relative;
}

nav.menu ul li a:after{
    position: absolute;
    padding-left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 0;
    content: '.';
    color: transparent;
    background: var(--text-color) !important;
    height: 3px !important;
}

nav.menu ul li a:hover:after{
    width: 100%;
}

nav ul li a , nav ul li a:after, nav ul li a:before{
    transition: all 0.5s;
}
