:root{
    --main-color:#05a081;
    --text-color: #fff;
}

*{
    margin: 0;
    padding:0;
}

.logo{
    color: var(--text-color);
}

#showcase{
    background-image: url(../images/wester.jpg);
    background-size: cover;
    width:100%;
    position: relative;
    z-index: 1;

}

header{
    background-color: rgba(0,0,0,0.8);
    width:100%;
    height: auto;
    display: flex;
}

.logo{
    flex: 1;
}

.menu{
    flex: 3;
    display: flex;
}

.menu a{
    flex: 1;
    justify-content: flex-end;
}

.showcase-text{
    display: flex;
    padding: 15% 0;
}

.showcase-text-items{
    margin: auto;
    width: 50%;
    text-align: center;
    color: var(--text-color)
}

main{
    display: flex;
    padding: 5%;
    flex-wrap: nowrap;
}

#showcase-text{
    position: absolute;
    content: '';
    top:0;
    left:0;
    background: rgba(0,0,0,0.8);
    z-index: -1;
}